<div class="d-flex">
  <div class="navbar-chat background-color-light-gray height-100vh">
    <h4>I am <%= current_user.username %></h4>
    <% @users.each do |user| %>
      <div class="availability-appearance user-availability-<%= user.id %>" data-user-connected="<%= user.id %>">
        <%= render "chat_rooms/appearance", user: user %>
      </div>
    <% end %>
  </div>

  <div class="chat" data-room="<%= @chat_room.id %>" data-user="<%= current_user.id %>">
    <div class="chat-header background-color-grape d-flex align-items-center"><h4>#<%= @chat_room.name %></h4></div>
    <div class="messages" style="height: 78vh;">
      <% @chat_room.messages.each do |message| %>
        <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user %>
      <% end %>
    </div>
    <div id="create-message">
      <%= simple_form_for [@chat_room, @message], remote: true do |f| %>
        <%= f.input :content, label: false %>
        <%= f.submit class: "background-color-grape border-radius-30px color-white hover_color-white hover_opacity-0dot8 padding-y-10px-x-30px text-decoration-none" %>
      <% end %>
    </div>
  </div>
</div>
